* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
img {
  width: 20rem;
}
body {
  background-color: #333;
  font-family: "Press Start 2P", serif;
}
button {
  border: none;
  width: 8rem;
  font-weight: 800;
  background-color: rgb(246, 54, 54);
  color: beige;
  padding: 0.75rem 0.5rem;
  cursor: pointer;
}

.numbers__buttons {
  display: flex;
  gap: 1rem;
}

.off {
  display: none;
}
.on {
  display: block;
  color: burlywood;
}

h1 {
  color: white;
  font-size: 5rem;
}
